<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>published</PublishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
  </PropertyGroup>
</Project>